.card {
    border: 1px solid hsl(0, 8%, 47%);
    text-align: center;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 1px 1px 5px hsl(0, 8%, 47%);
    max-width: 400px;
   
    display: inline-block;
}
.card .card-image {
    max-width: 250px;
    border-radius: 50%;
}